html,
body {
	background-color: #fff;
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Mova";
	src: url("../fonts/Mova.ttf");
}

@font-face {
	font-family: "Please write me a song";
	src: url("../fonts/Please\ write\ me\ a\ song.ttf");
}

@font-face {
	font-family: "Material Icons";
	src: url("../fonts/MaterialIcons-Regular.ttf");
}

@font-face {
	font-family: "Material Icons Round";
	src: url("../fonts/MaterialIconsRound-Regular.otf");
}

@font-face {
	font-family: "Material Symbols Outlined";
	src: url("../fonts/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].ttf");
}

@font-face {
	font-family: "Inter";
	src: url("../src/fonts/Inter/Inter-Black.ttf");
	src: url("../src/fonts/Inter/Inter-Bold.ttf");
	src: url("../src/fonts/Inter/Inter-ExtraBold.ttf");
	src: url("../src/fonts/Inter/Inter-ExtraLight.ttf");
	src: url("../src/fonts/Inter/Inter-Light.ttf");
	src: url("../src/fonts/Inter/Inter-Medium.ttf");
	src: url("../src/fonts/Inter/Inter-Regular.ttf");
	src: url("../src/fonts/Inter/Inter-SemiBold.ttf");
	src: url("../src/fonts/Inter/Inter-Thin.ttf");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
}

.material-icons-round {
	font-family: "Material Icons Round";
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
	font-family: "Material Symbols Outlined";
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
	font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
	width: 0px;
	color: blue;
}

header {
	transform: rotateX(-45deg) scale(0.5);
}

header h1 {
    font-family: "Please write me a song";
}

.container-box {
    opacity: 0;
    transform: translateY(10rem);
}

.active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 2s ease;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}
.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
